.review {
  background-color: #6abf48 !important;
}

.reviewer-name {
  font-size: 14px;
  color: #9da3a8 !important;
  letter-spacing: 0.7px;
}

@media screen and (max-width: 480px) {
  .reviewer-name {
    font-size: 12px;
  }
}
