@import "./../../generalStyles/variables.css";
.icon-wrapper {
  background-color: var(--white);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.icon-wrapper.green {
  background-color: var(--green);
}
/* activity icons */
.icon-wrapper.normal:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.icon-wrapper.normal:hover + .icon-description {
  color: var(--darkBlue);
}
.icon-description {
  font-size: 12px;
}
@media screen and (max-width: 480px) {
  .icon-description {
    font-size: 11px;
  }
  .reviewer-name {
    font-size: 12px;
  }
  .icon-wrapper {
    width: 45px;
    height: 45px;
  }
  .icon-wrapper.review {
    width: 35px;
    height: 35px;
  }
}
