@import "./../../generalStyles/variables.css";

.btn {
}
.share-btn {
  font-family: var(--regularFont) !important;
  display: flex !important;
  align-items: center;
  justify-content: space-around;
}
.share-btn img {
  margin-right: 6%;
}
/* green button */
.green-btn {
  width: 70% !important;
  display: inline-block !important;
  padding: 2% 5%;
  background-color: var(--green);
  border-color: var(--green);
}
.green-btn:hover {
  background-color: var(--darkGreen);
  border-color: var(--darkGreen);
}

.green-btn:focus {
  background-color: var(--darkGreen);
  border-color: var(--darkGreen);
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--green);
}

.btn-primary.green:not(:disabled):not(.disabled):active,
.btn-primary.green:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--darkGreen);
  border-color: var(--darkGreen);
}
.btn-primary.green:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem var(--green) !important;
}
/* sky blue button */

.sky-blue-btn {
  display: inline-block !important;
  padding: 2% 5%;
  background-color: var(--skyBlue);
  border-color: var(--skyBlue);
}
.sky-blue-btn:hover {
  background-color: var(--darkSkyBlue);
  border-color: var(--darkSkyBlue);
}
.sky-blue-btn:focus {
  background-color: var(--darkSkyBlue);
  border-color: var(--darkSkyBlue);
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--skyBlue);
}
.btn-primary.sky-blue:not(:disabled):not(.disabled):active,
.btn-primary.sky-blue:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--darkSkyBlue);
  border-color: var(--darkSkyBlue);
}
.btn-primary.sky-blue:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem var(--skyBlue) !important;
}
/* white button */

.white-btn {
  padding: 2% 5%;
  background-color: var(--white);
  border-color: var(--lightGray);
  color: var(--black);
}
.white-btn:hover {
  background-color: var(--lightGray);
  border-color: var(--lightGray);
  color: var(--black);
}
.white-btn:focus {
  background-color: var(--lightGray);
  border-color: var(--lightGray);
  color: var(--black);
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--white);
}
.btn-primary.white:not(:disabled):not(.disabled):active,
.btn-primary.white:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--lightGray);
  border-color: var(--lightGray);
  color: var(--black);
}
.btn-primary.white:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem var(--white) !important;
  color: var(--black);
}
/* black */

.black-btn {
  font-size: 12px;
  font-family: var(--boldFont);
  display: inline-block !important;
  padding: 4% 7%;
  border-radius: 8px;
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}
.black-btn:hover {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}
.black-btn:focus {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--black);
}
.btn-primary.black:not(:disabled):not(.disabled):active,
.btn-primary.black:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--lightGray);
  border-color: var(--lightGray);
  color: var(--white);
}
.btn-primary.black:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem var(--black) !important;
  color: var(--white);
}

/* orange button */

.orange-btn {
  /* width: 50%; */
  display: inline-block !important;
  padding: 2% 5%;
  background-color: var(--orange);
  border-color: var(--orange);
  color: var(--white);
}
.orange-btn:hover {
  background-color: var(--orange);
  border-color: var(--orange);
  color: var(--white);
}
.orange-btn:focus {
  background-color: var(--orange);
  border-color: var(--orange);
  color: var(--white);
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--orange);
}
.btn-primary.orange:not(:disabled):not(.disabled):active,
.btn-primary.orange:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--lightGray);
  border-color: var(--lightGray);
  color: var(--white);
}
.btn-primary.orange:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem var(--orange) !important;
  color: var(--white);
}
/* light green */

/* orange button */

.light-green-btn {
  font-size: 0.8rem;
  font-family: var(--boldFont);
  border-radius: 6px;
  width: auto !important;
  padding: 0.375rem 1.2rem;
  display: inline-block !important;
  background-color: var(--lightGreen);
  border-color: var(--lightGreen);
  color: var(--white);
}
.light-green-btn:hover {
  background-color: var(--lightGreen);
  border-color: var(--lightGreen);
  color: var(--white);
}
.light-green-btn:focus {
  background-color: var(--lightGreen);
  border-color: var(--lightGreen);
  color: var(--white);
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--lightGreen);
}
.btn-primary.orange:not(:disabled):not(.disabled):active,
.btn-primary.orange:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--lightGray);
  border-color: var(--lightGray);
  color: var(--white);
}
.btn-primary.light-green:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem var(--lightGreen) !important;
  color: var(--white);
}
@media screen and (max-width: 786px) {
  .btn.green-btn {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  .btn:not(.light-green) {
    width: 100% !important;
  }

  .share-btn {
    justify-content: center;
  }
}
