.green-btn {
  display: inline-block !important;
  width: 70% !important;
  padding: 2% 5%;
  background-color: #6abf48;
  border-color: #6abf48;
}
.green-btn:hover {
  background-color: #519e32;
  border-color: #519e32;
}

.green-btn:focus {
  background-color: #519e32;
  border-color: #519e32;
  outline: none;
  box-shadow: 0 0 0 0.2rem #6abf48;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #519e32;
  border-color: #519e32;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #6abf48 !important;
}
