@import "./../../generalStyles/fontStyles";
.activity-icons {
  width: 80%;
}
@media screen and (max-width: 480px) {
  .sub-heading {
    text-align: center !important;
  }
  .activity-icons {
    width: 100%;
  }
}
