@import "./../../generalStyles/fontStyles";
.card-title {
  letter-spacing: 0.52px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5rem;
}
.feature-container p {
  text-align: left;
}
.feature-type {
  font-size: 12px;
  font-family: var(--boldFont);
}
.feature-type.green {
  color: var(--green);
}
.feature-description {
  font-size: 14px;
  color: var(--textGray);
  font-weight: lighter;
}
@media screen and (max-width: 480px) {
  .view-btn {
    width: 100% !important;
  }
  .feature-description {
    margin-bottom: 5% !important;
  }
  .date-and-time-info {
    margin-bottom: 5% !important;
  }
  .note {
    margin-bottom: 5% !important;
    padding: 3% 5%;
    border-radius: 6px;
  }
  .time-date-container .info-container span {
    font-size: 10px;
  }
  .feature-info-container {
    display: flex;
  }
  .feature-info-container .title-info {
    order: 1;
  }
  .feature-info-container .date-and-time-info {
    order: 3;
  }
  .feature-info-container .description-info {
    order: 2;
  }
  .feature-info-container .feature-button {
    order: 4;
  }

  .card-container {
    width: 100%;
  }
  .time-date-container .badge {
    width: 48%;
    border-radius: 6px;
    padding: 2% 2%;
  }
}
