.icon-wrapper {
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
/* activity icons */
.icon-wrapper:hover {
  transform: scale(1.05);
}
.icon-wrapper:hover + .icon-description {
  color: #3a5c8d;
}
.icon-description {
  font-size: 12px;
}
@media screen and (max-width: 480px) {
  .icon-description {
    font-size: 11px;
  }
  .sub-heading {
    text-align: center !important;
  }
  .reviewer-name {
    font-size: 12px;
  }
}
