@import "./../../generalStyles/variables.css";
.card-title {
  letter-spacing: 0.52px;
  font-size: 20px;
  font-weight: CenturyGothic-Bold;
  letter-spacing: 1px;
  line-height: 1.5rem;
}
.accordion > .card > .card-header {
  border: none;
  cursor: pointer;
}
h3 {
  font-size: 16px;
  text-align: left;
}
.faq .collapse {
  background-color: #f5f9f9;
}

.collapse .card-body {
  border-radius: 7px;
  overflow: hidden;
  background-color: var(--white);
  text-align: left;
}
.accordion-toggle {
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 786px) {
  .accordion h3 {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .accordion h3 svg {
    font-size: 0.7rem;
  }
  .collapse .card-body,
  .accordion .card-body {
    font-size: 0.7rem;
  }
}
